* {padding:0; margin:0; border:0}
.line {
    width:1180px;
    height:2px;
    background-color:#c9c9c9;
    margin:0 auto;
}

html {
    scroll-behavior:smooth;
}

/* s : firstpage */
#firstpage {
    width:1920px;
    height:1080px;
    background-color:white;
    margin:0 auto;
}

#firstpage .nav_bar {
    height:102px; width:1920px;
    position:fixed; top:0px; z-index:3000;
    margin:a auto; padding:0 370px 0;
    box-sizing:border-box;
    background-color:white;
}

#firstpage .nav_bar img {
    margin-top: 33px;
}

#firstpage .nav li {
    font-size:15px;
    color:#272727;
    font-family:"Noto Sans KR Light";
    float:right;
    margin-left:47px;
    line-height:102px;
}

#firstpage .nav li a {
    position:relative;
}

#firstpage .nav li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color:#272727;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

#firstpage .nav li a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

#firstpage .firstimg {
    
    width:1732px;
    height:998px; margin-top:102px;
    background-color: bisque;
    background-image:url(../images/firstimg.png);
    margin:0 auto; 
    background-position:bottom;
    background-repeat:no-repeat
}

#firstpage .first_text {
    width:1732px;
    height:998px;
    box-sizing:border-box;
    padding:430px 275px 0 275px;
}

#firstpage .first_text .maintext {
    font-size:100px;
    font-family:"Noto Serif KR";
    font-weight:900;
    color:white;
    padding-bottom:24px;
    padding-top:25px
}

#firstpage .first_text .maintext span {
    font-family:"Noto Sans KR";
    font-weight:100; letter-spacing:-2px;
}

#firstpage .first_text .subtext {
    font-family: "Noto Sans KR"; font-weight:300;
    font-size:18px;
    line-height:1.6;
    color:white;
}

#firstpage .first_text .adress {
    font-family:"Noto Sans KR"; font-weight:300;
    font-size:15px;
    color:white;
    writing-mode:tb-rl;
    text-align:left;
    float:right;
    box-sizing: border-box;
    letter-spacing:5px;
    line-height:1.6;
}
/* e : firstpage */

/* s : secondpage */
#secondpage {
    width:1920px;
    height:805px;
    margin:0 auto;
    background:url(../images/bg01.png); 
}

#secondpage .mainP02 {
    width:580px;
    color:#272727;
    margin:0 auto;
}

#secondpage .mainP02 .slogT02 {
    font-family:"Noto Serif KR";
    font-size:18px;
    text-align: center;
    padding-top:75px;
}

#secondpage .mainP02 .headT02 {
    font-family:"Noto Serif KR Black";
    font-size:45px;
    text-align: center;
    padding:19px 0px 55px 0;
}

#secondpage .mainP02 .copyT02 {
    font-family: "Noto Sans KR Light";
    font-size: 18px;
    text-align:justify;
    line-height:1.5;
    height:161px;
    overflow:hidden;
}

#secondpage .subP02 {
    width:1180px;
    margin:0 auto;
    padding-top:76px;
}

#secondpage .subP02 .rem {
    width:380px;
    height:210px;
    overflow:hidden;
    color:#272727;
    float:left;
}

#secondpage .subP02 .rem .headT02 {
    font-family:"Noto Serif KR";
    font-size:20px;
    font-weight:bold;
}

#secondpage .subP02 .rem img {
    padding:17px 0px 27px 0px;
}

#secondpage .subP02 .rem .copyT02 {
    text-align:justify;
    font-family:"Noto Sans KR Light";
    line-height:1.6;
    font-size:18px;
}

#secondpage .subP02 .jj {
    margin-right:20px;
}

#secondpage .subP02 .jn {
    margin-right:20px;
}
/* e : secondpage */

/* s : thirdpage */
#thirdpage {
    width:1732px;
    height:1143px;
    background:url(../images/bg02.png);
    margin:0 auto;
}

#thirdpage .text03 {
    width:1180px;
    height:860px;
    margin:0 auto;
}

#thirdpage .text03 .title03 {
    color:white;
    display:inline-block;
    padding-top:154px;
}

#thirdpage .text03 .title03 .slogT03 {
    font-family:"Noto Serif KR Black";
    font-size:50px;
}

#thirdpage .text03 .title03 .headT03 {
    font-family:"Noto Serif KR";
    font-size:18px;
    margin:20px 0 16px 0;
}

#thirdpage .text03 .title03 .copyT03 {
    width:280px;
    height:80px;
    overflow-y:hidden;
    line-height:1.6;
    font-family:"Noto Serif KR";
    font-size:13px;
    text-align:justify;
    margin-top:25px;
}

#thirdpage .text03 .sent03 {
    background-color:rgba(255,255,255,0.8);
    display:inline-block;
    width:680px;
    height:860px;
    float:right;
    overflow:hidden;
    color:#272727;
    margin:0 auto;
    margin-top:114px
}

#thirdpage .text03 .sent03 .titleT03 {
    font-family:"Noto Serif KR";
    font-weight:bold;
    font-size:35px;
    text-align:center;
    margin:60px 0 30px 0; 
}

#thirdpage .text03 .sent03 .slogT03 {
    font-family:"Noto Serif KR";
    font-size:18px;
    text-align:center;
    margin-bottom:40px;
}

#thirdpage .text03 .sent03 .copyT03 {
    font-family:"Noto Sans KR Light";
    width:536px;
    height:613px;
    text-align:justify;
    line-height:1.6;
    overflow-y:scroll;
    margin:0 auto;
    position:relative;
}

#thirdpage .text03 .sent03 .copyT03::after {
    content:"";
    position:absolute; left:0; top:0;
    background:linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%); width:100%; height:100%;
}

#thirdpage .text03 .sent03 .copyT03.scrolled::after {
    display:none;
}
/* s : thirdpage */

/* s : forthpage */
#forthpage {
    width:1920px;
    height:763px;
    margin:0 auto;
    background:url(../images/img06.png)
}

#forthpage .cont04 {
    display:grid;
    grid-template-columns: 370px 400px 380px;
    grid-template-rows: 270px 220px;
    padding-top:114px;
    float:left;
}

#forthpage .cont04 .mv01 {
    width:370px;
    height:490px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/img02.png);
    padding:95px 37px 55px;
    box-sizing:border-box;
    overflow:hidden;
    color:white;
    grid-row-start:1;
    grid-row-end:3;
}

#forthpage .cont04 .mv01 .headT04 {
    font-family:"Noto Serif KR";
    font-weight:bold;
    font-size:35px;
    text-align:center;
    padding-bottom:30px;
}

#forthpage .cont04 .mv01 .slogT04 {
    font-family:"Noto Serif KR Semibold";
    font-size:18px;
    text-align:center;
    padding-bottom:113px;
}

#forthpage .cont04 .mv01 img {
    padding-bottom:26px;
}

#forthpage .cont04 .mv01 .copyT04 {
    font-family:"Noto Sans KR Light";
    font-size:15px;
    line-height:1.6;
}

#forthpage .cont04 .mv02 {
    width:400px;
    height:270px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/img03.png);
    color:white;
    padding-top:95px;
    box-sizing:border-box;
    text-align:center;
}

#forthpage .cont04 .mv02 .headT04 {
    font-family:"Noto Serif KR";
    font-weight:bold;
    font-size:35px;
    padding-bottom:31px;
}

#forthpage .cont04 .mv02 .slogT04 {
    font-size:18px;
    font-family:"Noto Serif KR Light";
}

#forthpage .cont04 .mv04 {
    width:370px;
    height:490px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/img05.png);
    padding:95px 37px 55px;
    box-sizing:border-box;
    overflow:hidden;
    color:white;
}

#forthpage .cont04 .mv04 .headT04 {
    font-family:"Noto Serif KR";
    font-weight:bold;
    font-size:35px;
    text-align:center;
    padding-bottom:30px;
}

#forthpage .cont04 .mv04 .slogT04 {
    font-family:"Noto Serif KR Semibold";
    font-size:18px;
    text-align:center;
    padding-bottom:113px;
}

#forthpage .cont04 .mv04 img {
    padding-bottom:26px;
}

#forthpage .cont04 .mv04 .copyT04 {
    font-family:"Noto Sans KR Light";
    font-size:15px;
    line-height:1.6;
}

#forthpage .cont04 .mv03 {
    width:400px;
    height:220px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/img04.png);
    color:white;
    padding-top:60px;
    box-sizing:border-box;
    text-align:center;
    grid-row-start:2;
    grid-row-end:3;
}

#forthpage .cont04 .mv03 .headT04 {
    font-family:"Noto Serif KR";
    font-weight:bold;
    font-size:35px;
    padding-bottom:31px;
}

#forthpage .cont04 .mv03 .slogT04 {
    font-size:18px;
    font-family:"Noto Serif KR Light";
}

#forthpage .text04 {
    float:right;
    margin-top:385px;
    margin-right:370px;
}

#forthpage .text04 .title04 {
    display:inline-block;
    width:276px;
    height:220px;
    overflow:hidden;
    color:#272727;
}

#forthpage .text04 .title04 .slogT04 {
    font-family:"Noto Sans KR Thin";
    font-size:18px;
    padding-bottom:16px;
}

#forthpage .text04 .title04 .headT04 {
    font-family:"Noto Serif KR Black";
    font-size:50px;
    padding-bottom:23px;
}

#forthpage .text04 .title04 .copyT04 {
    font-family:"Noto Serif KR";
    font-size:13px;
    line-height:1.6;
    padding-top:27px;
}
/* e : forthpage */

/* s : fifthpage */
#fifthpage {
    width:1920px; height:700px;
    margin:0 auto;
    color:white;
}

#fifthpage h1 {
    color:#272727;
    font-size:18px; font-weight:100; text-align:center;
    margin-top:79px;
}

#fifthpage h2 {
    font-size:50px; font-family:"Noto Serif KR";
    color:#272727; text-align:center; margin-top:16px;
}

/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
/** /!!! End of core css Should not edit !!!/**/



/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

/*@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}*/

/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

/* s : fifthpage */
.demo {
    margin-top:90px;
}

.demo .item{
    margin:0 auto;
    overflow:hidden; width:1920px;
    position:absolute;
        }

.demo .item ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
		}

.content-slider li{
    height:400px;
    text-align:center;
    color:#FFF;
    padding:90px; box-sizing:border-box;
		}

.content-slider .headT05 {
    font-size:40px; font-family:"Noto Serif KR";

}

.content-slider .copyT05 {
    font-size:14px; font-weight:400; line-height:1.6;
    margin-top:20px;
}

.content-slider .bodyT05 {
    font-size:15px; font-family:"Noto Serif KR";
    font-weight:500; position:relative;
    padding-bottom:2px;
}

.content-slider .bodyT05::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.content-slider .bodyT05:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.content-slider li img {
    padding:23px 0;
    display:block;
    left:50%; position:relative;
}

.content-slider .bora {
    background-image:url(../images/img37.png);
    background-position:center;
}

.content-slider .seoul {
    background-image:url(../images/img47.png);
    background-position:center;
}

.content-slider .goro {
    background-image:url(../images/img46.png);
    background-position:center;
}

.content-slider .dolim {
    background-image:url(../images/img48.png);
    background-position:center;
}

.content-slider .shasha {
    background-image:url(../images/img49.png);
    background-position:center;
}
/* e : fifthpage */

/* s : footer */
#footer {
    width:1920px; height:127px;
    background-color:#272727;
    margin:0 auto;
    font-weight:100;
    margin-top:90px;
}

#footer .icon {
    text-align:center;
    line-height:127px;
    
}

#footer .icon img {
    margin:0 12px;
}

#footer .contact {
    float:right;
    margin-top:-70px;
    color:white;
    margin-right:370px; 
}
/* e : footer */